body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

.demo {
    padding-left: 30px;
    padding-right: 30px;
}

.demo p {
    padding-top: 6px;
    padding-left: 6px;
    font-size: 13px;
}

.intro {
    width: 600px;
    padding: 6px;
    margin-bottom: 6px;
}

.signature {
    font-size: 110%;
    padding: 6px;
}

pre {
    margin: 0px !important;
}

hr {
    border-top-color: #ddd !important;
    margin-top: 10px !important;
}

.demo a, .demo a:active, .demo a:hover, .demo a:visited {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: normal !important;
    font-size: 13px;
}


/* For ui-bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

.tabbable {
    display: table;
    padding-left: 4px;
    padding-right: 4px;
}

.tabbable a.active {
    background-color: #f8f8f8;
}

.tab-pane {
    padding-left: 4px;
}

.tab-content {
    padding: 16px 10px 16px 10px;
}

.nav {
    margin-bottom: 0px !important;
}